.circle-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: aliceblue;
    border: 1px solid #000000;
  }
  
  .circle {
    display: flex;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 20px;
  }
  
  .circle-wrapper {
    margin-left: 5px;
    margin-bottom: 5px;
  }
  